/* Общие стили для приложения */
.app {
  display: flex; /* Размещение элементов внутри контейнера в виде строки */
  justify-content: space-between; /* Равномерное распределение пространства между элементами */
  align-items: center; /* Выравнивание элементов по центру по вертикали */
  padding: 20px; /* Отступы вокруг содержимого */
}

/* Стили для списка продуктов */
.product-list {
  display: flex; /* Размещение элементов внутри контейнера в виде строки */
  flex-wrap: wrap; /* Разрешение переноса элементов на новую строку при необходимости */
  gap: 20px; /* Расстояние между элементами */
}

/* Стили для отдельного продукта */
.product-item {
  border: 2px solid #ccc; /* Граница вокруг элемента */
  padding: 15px; /* Внутренние отступы */
  width: 200px; /* Ширина элемента */
  display: flex; /* Размещение элементов внутри контейнера в виде строки */
  flex-direction: column; /* Расположение элементов в столбец */
  align-items: center; /* Выравнивание элементов по центру по горизонтали */
}

/* Стили для кнопок управления количеством */
.product-buttons {
  display: flex; /* Размещение элементов внутри контейнера в виде строки */
  gap: 10px; /* Расстояние между кнопками */
}

/* Стили для кнопки удаления товара */
.delete-button {
  background-color: #ff6347; /* Цвет фона кнопки */
  color: #fff; /* Цвет текста */
  padding: 5px 10px; /* Внутренние отступы */
  cursor: pointer; /* Изменение вида курсора при наведении */
  border: 1px solid #ff6347; /* Граница вокруг кнопки */
  margin-top: 10px; /* Верхний отступ */
}

/* Стили для кнопки добавления нового товара */
.add-button {
  background-color: #dc6c17; /* Цвет фона кнопки */
  color: #fff;
  padding: 60px 10px; /* Внутренние отступы */
  cursor: pointer; /* Изменение вида курсора при наведении */
  border: 1px solid #dc6c17; /* Граница вокруг кнопки */
  margin-top: 10px; /* Верхний отступ */
}